<header>
  <section class="container">
    <a class="logo" href="/">
      <img src="<%= EasyRetroWeb.Endpoint.static_path("/images/logo.svg") %>" alt="logo">
    </a>
  </section>
</header>
<main role="main" class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
