/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

/* Header */
header {
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;

  section {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav, .logo {
      flex: 1;
    }

    nav {
      ul, li {
        margin: 0;
        padding: 0;
        display: block;
        text-align: right;
        white-space: nowrap;
      }

      ul {
        margin: 1rem;
        margin-top: 0;
      }
    }

    a, .logo {
      display: block;
      position: relative;
      height: 100%;
    }

    .logo > img {
      height: 100%;
    }

    .title {
      max-width: 50%;
      text-align: center;
      font-size: 2em;
    }
  }
}

/* Landing Page */
.main-container {
  display: flex;

  .button {
    flex: 1;
    margin: 6%;
  }
}

/* Hero */
.hero {
  margin: 32px auto;
  max-width: 80.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;

  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 3em 3em 1em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;

  input { background: #ffffff; }
}


/* Retro Board Styling */
.board {
  display: flex;
  height: 100%;
  padding: 0 16px;
  overflow-y: hidden;

  .category {
    min-width: 320px;

    display: flex;
    flex-direction: column;

    input {
      margin: 0;
      border: 1px solid #cacaca;
      height: 42px;
    }

    > .add-category {
      height: 115px;
      border-bottom: 1px solid #eaeaea;
      display: flex;
      align-items: flex-end;
      margin: 0 16px 0 0;
      padding: 16px;
    }

    > .name {
      width: 100%;
      padding: 16px 16px 0;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
    }

    > .add-card {
      margin: 0;
      padding: 16px;
      border-bottom: 1px solid #eaeaea;
    }

    .cards {
      border-right: 1px solid #eaeaea;
      flex: 1;
      padding: 0 24px;
      overflow-y: auto;

      .card {
        display: flex;
        flex-direction: column;
        margin: 16px 0;
        align-items: center;
        width: 100%;
        border: 1px solid #dadada;
        border-radius: 4px;

        > div { padding: 0 12px; }

        > .content {
          display: flex;
          margin: 16px;
          min-height: 72px;
          flex: 1;
          align-items: center;
          text-align: center;
          font-size: 16px;
        }

        > .icons {
          display: flex;
          justify-content: flex-end;
          width: 100%;

          &.icons-top { padding-top: 12px; }
          &.icons-bottom { padding-bottom: 12px; }

          .lni {
            cursor: pointer;

            &:hover { color: #aaaaaa; }
          }
        }

        .add-comment { margin-bottom: 16px; }

        .comments-container {
          width: 100%;
          padding: 12px 24px;

          &.hidden { display: none; }

          .comments{
            .comment {
              font-size: 12px;
              border-top: 1px solid #eaeaea;
              padding-top: 8px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
