@tailwind base;
@tailwind components;
@tailwind utilities;

/* The styles below ensure the LiveView wrappers don't break flexbox layouts. */

.phx-app > div, .phx-body > div {
  display: flex;
  flex: 1
}

.phx-app > div {
  overflow-y: hidden;
}
