<section class="hero">
  <h1>Start that Retro!</h1>

  <form phx-submit="create">
    <%= if @key do %>
      <h3>Thanks! Share this key with your teammates:</h3>
      <%= live_patch @key, class: "key-link", to: Routes.live_path(@socket, EasyRetroWeb.BoardLive, @key)%>
    <% else %>
      <input type="text" name="title" value="<%= @title %>" placeholder="Retro name"/>
      <button type="submit">Create Retro</button>
    <% end %>
  </form>

</section>
