<Shared.hero title={@title} subtitle={@subtitle}>
  <.form let={f} for={:board} phx-submit="create_board" class="flex w-full">
    <%= text_input(f, :title, class: "grow rounded-md border") %>
    <%= error_tag(f, :title) %>

    <%= submit("Start", class: "w-24 ml-2 h-full bg-purple-800/90 text-purple-100 rounded-md") %>
  </.form>
</Shared.hero>
